source [find target/stm32f1x.cfg]

flash bank stm32f1x.flash2 stm32f1x 0x08080000 0 0 0 $_TARGETNAME

#adapter speed 1800
adapter speed 4000

proc source_if_exists {path} {
    if {![catch {find $path} fullpath]} {
        source $fullpath
    }
}

source [find tcl/binary.tcl]

source [find tcl/airsense-info.tcl]
source [find tcl/airsense-waveform.tcl]
source [find tcl/airsense-llama.tcl]


proc global_help {} {
	echo "Airsense S9 Custom Firmware Tool Commands"
	echo "\tflash_new \[path\] : replace firmware with file at \[path\]"
	echo "\tdump             : backup device memory to stm32.bin in current directory"
}

proc dump_section {name addr size} {
	echo "Dumping $name, $size bytes at $addr..."
	dump_image $name $addr $size
}

proc dump_ram {fname} {
	dump_section $fname 0x20000000 0x18000
}

proc dump {} {
	dump_section stm32.bin 0x08000000 0x100000
	echo "Done."
}

proc dump_all {} {
	#dump_section syscfg.bin 0x40013800 0x400
	#dump_section bkpsram.bin 0x40024000 0x1000
	#dump_section rtc_bkpr.bin 0x40002800 0x50
	dump_section optionbytes.bin 0x1ffff800 0x10
	dump_section bank0.bin 0x08000000 0x100000
	#dump_section bank1.bin 0x1fff7800 0x200
	dump_section bootloader.bin 0x1FFFE000 0x1800
	echo "Done."
}

proc check_image {path} {
	if [catch {find $path}] {
		echo "File $path not found!"
		return 1
	}
	return 0
}

proc postboot {} {}

proc tickle_watchdog {} {
	reset halt
	echo "Tickling watchdog..."
	#stm32f2x options_write 0 0x2c
    stm32f1x options_write 0 SWWDG
	sleep 100
	echo "Resetting device..."
	reset halt
}
proc reset_watchdog_bit {} {
	reset halt
	echo "Resetting watchdog bit..."
	#stm32f2x options_write 0 0xcc
    stm32f1x options_write 0 HWWDG
	reset
	#rcc_fix
	echo "Booting device..."
	postboot
}

proc flash_new {path {verify "1"}} {
	if [check_image $path] return
	tickle_watchdog
	echo "Overwriting flash memory..."
	flash write_image erase $path 0x8000000
	if {$verify eq "1"} {
		echo "Verifying that flash was written properly..."
		flash verify_bank 0 $path 0
	} else {
		echo "Skipping verification (it's always fine tbh)"
	}
	reset_watchdog_bit
}

proc rcc_fix {} {
}

proc mrh {reg} {
        set value ""
        mem2array value 16 $reg 1
        return $value(0)
}

init

echo ""

source_if_exists tcl/hourcounter.tcl
#source_if_exists tcl/lang.tcl
#source_if_exists tcl/themes.tcl
source_if_exists tcl/flash_patch.tcl
echo ""
